body {
  background: #000;
  color: #0f0;
  font-family: monospace;
  text-align: center;
}

h1 {
  margin-top: 20px;
}

.box {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #0f0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

input {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px;
  width: 84%;
  margin-top: 15px;
  background: #0f0;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

pre {
  text-align: left;
  background: #111;
  padding: 15px;
  margin-top: 20px;
  border-radius: 10px;
  max-height: 300px;
  overflow-y: auto;
}